{% extends "template.html" %}
{% block head %}
{% endblock %}



{% block content %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<link rel="stylesheet" type="text/css" href="/my_blueprint/css/modal.css" />

<script src="{{ url_for('my_blueprint.static', filename='constants.js') }}"></script>
<script src="{{ url_for('my_blueprint.static', filename='colorconversion.js') }}"></script>




    	<p>
            Explore the visualization. For each highlighted point, select one data point that is the closest to each highlighted (red) point. If selection is correct, point will change
            to blue. Study will automatically proceed to next section after selections.

        </p>

        </div>

    <br><br><br>
        <div id="foo"></div>
        <div id="stimulus" width="700px" height="400px"></div>



<script>




	// Active stimulus variables
	var trial = 0;
	var color = [];
	var size = 0;
	var userId = 0;
	var start1, start2 = 0;
	var query="";
	var resp;
	var activeColor;
	var adjustedColor;
	var respInt;
    var positions = [];
    var adjustedSize = [20, 200];
    var distractors = [];// not used
    var gap;
    var baseColor = [50,0,0];
    var trialStartTime;
    var GRID_PAD = 50;
    var clickCount = 0;

    // [condition, imageURL, visualization_type, cond, emphasis_type,anchor,targets ]
    var trial_array =
        [
            ['explore','economist_daily_chart_5.png','scatter','emph','color','NAM-23',['1310N','1313S','1115N','1206N','1306S','1112S']],
            //['test','economist_daily_chart_108.png','scatter','emph','color','NAM-17'],
        ]

    var totalTrials = trial_array.length;
    var initialSelection = Math.floor(Math.random() * totalTrials);


	$(document).ready(function() {
			// Parse the query variables
			t = new Date();
			query = window.location.search;
			if (query.substring(0, 1) == '?')
				query = query.substring(1);
			userId = parseInt(query.substring(0, query.indexOf("&")));

			// Establish the display layout
			var d = query.substring(query.indexOf("-d=") + 3);
			size = 20;//visualAngleToPixels(2.0,parseFloat(d*24), document.getElementById("dpi").offsetHeight)/2;
			gap = visualAngleToPixels(6.0,30, 96)/2;
			/*if (2*size + gap > $("#stimulus").width) {
				$("#stimulus").width(2*size + gap);
			}*/
            $("#stimulus").height(400);
//			var w = $("#stimulus").width();
            var width = 4*gap + 2 * GRID_PAD + size;
			start1 = width * 0.5  - 0.5*gap;
			start2 = gap + 20 + start1;
			trial = 0;

			// Instantiate the input
			$(this).keyup(function(evt){
			  console.log(evt)
			});

			 var panelW = window.innerWidth*0.66;
            panelW=panelW*0.90;


        var panelH = window.innerHeight-200;
			            $("#stimulus").height(panelH);
            $("#stimulus").width(panelW);

            colorType = COLORTYPE.Lab;
            trialStartTime = new Date();
            drawStimulus()

	});



    var drawStimulus = function(){

        var width = 4*gap + 2 * GRID_PAD + 2*size,
        height = $("#stimulus").height();

               width = $("#stimulus").width();
        height = $("#stimulus").height();

        console.log("width: " + width)
        start1 = generateRandom(10, width-110) //making position random

         // Remove any existing SVG on the page
        d3.select("svg").remove();

        var svg = d3.select("body").select("div #stimulus")
                    .append("svg")
                    .attr("id","graph")
                    .attr("width", width)
                    .attr("height", height);

        center = 0.5*width;

        //stuff for filters
        var defs = svg.append("defs");



        //data here

        d3.csv('/my_blueprint/data1.csv')
            .then(function(data) {

                var xScale = d3.scaleLinear()
                    .domain([0, d3.max(data, function (d) {
                            return +d.x+0.3;
                         }),
                    ])
                    .range([0, width]);

                var yScale  = d3.scaleLinear()
                        .domain([0,
                            d3.max(data, function (d) {
                            return +d.y+0.5;
                         }),
                        ])
                        .range([height-GRID_PAD, 0]);

                var x_axis = d3.axisBottom()
                        .scale(xScale);

                var y_axis = d3.axisLeft()
                        .scale(yScale);

                x_axis.tickFormat((d,i) => ' ');

                 // Add y-axis
                          svg.append("g")
                              .attr("class", "axis")
                              .attr("transform", "translate(5, 0)")
                              .call(y_axis);

                      // Add X-axis
                      svg.append("g")
                          .attr("class", "axis")
                          .attr("transform", "translate(0," + (height - GRID_PAD + 1) + ")")
                          .call(x_axis);



              svg.append('g')
                .selectAll("circle")
                .data(data)
                .enter()
                .append("circle")
                  .attr("cx", function (d) { return xScale(d.x);} )
                  .attr("cy", function (d) { return yScale(d.y); } )
                  .attr("r", 3.0)
                  .style("fill", "#69b3a2")
                  .on("mouseover", handleMouseOver)
                  .on("mouseout", handleMouseOut)
                  .on("click", handleClick);


                var color = d3.scaleLinear()
                    .domain ([0, 1, 2, 3, 4, 5])
                    .range (["red", "blue", "yellow", "fuchsia", "cyan", "orange"]);


              //emphasize a target
              d3.select("body").select("div #stimulus").selectAll("circle")
                  .data(data)
                  .filter(function(d) {
                      return trial_array[initialSelection][5].includes(d.treatmentName)
                  })
              .style("fill",  function(d) {
                var symbolIndex = 0;
                for(var i=0; i<1; i++){
                  if(d.treatmentName == trial_array[initialSelection][5])
                    symbolIndex=i;
                };
                  return color(symbolIndex);
                });


                // Create Event Handlers for mouse

                    function handleClick(d, i){
                        var lb = d.treatmentName;
                        var plotName = d.plotName;

                        console.log(plotName)
                        //if correct -- change color, add emphasis
                        //console.log(trial_array[initialSelection][5])
                        //if(lb == trial_array[initialSelection][5]){
                        if(trial_array[initialSelection][6].includes(plotName)){
                            d3.select(this)
                                .style("fill", "blue");

                            clickCount++

                            if(clickCount == trial_array[initialSelection][6].length){
                                console.log("all selected")
                                window.location.href = "/redirect_next_page";

                            }

                            //move to next trial, log error count, hovers
                        }
                        else{
                            //wrong selection
                            //increase error count -- keep count of hovers
                            console.log("wrong")
                        }


                    }


                      function handleMouseOver(d, i) {  // Add interactivity
                            // Use D3 to select element, change color and size

                            var xx = d.x;
                            var yy = d.y;
                            var lb = d.treatmentName;

                            d3.select(this)
                              .attr("r", 3.0*2);

                            svg.append("text")
                               .attr("x", xScale(xx) - 30 )
                               .attr("y", yScale(yy) - 15 )
                               .attr("class", "mylabel")//adding a label class
                               .text(lb);

                          }


                         function handleMouseOut(d, i) {
                                    // Use D3 to select element, change color back to normal
                                    d3.select(this)
                                      //.style("fill","#69b3a2")
                                       .attr("r", 3.0);


                                    // Select text by id and then remove
                                    d3.selectAll(".mylabel").remove()//this will remove the text on mouse out
                                    //d3.select("#t" + d.x + "-" + d.y + "-" + i).remove();  // Remove text location
                                  }





            })
            .catch(function(error){
                console.log(error)
                // handle error
            })

        /*
        var data = [10, 15, 20, 25, 30];

        var xscale = d3.scaleLinear()
            .domain([0, d3.max(data)])
            .range([5, width-5]);

        var yscale = d3.scaleLinear()
                .domain([0, d3.max(data)])
                .range([height-GRID_PAD, 0]);


        var x_axis = d3.axisBottom()
                .scale(xscale);

        var y_axis = d3.axisLeft()
                .scale(yscale);

        x_axis.tickFormat((d,i) => ' ');



       //add the image as a background
                svg.append('image')
                    .attr('xlink:href', '/my_blueprint/baseline/'+trial_array[initialSelection][1])
                    .attr('width', width)
                    .attr('height', height);


        setTimeout(promptOverlay, 3000);
        */
    }


	function normal(mu, sigma, nsamples){
    if(!nsamples) nsamples = 6
    if(!sigma) sigma = 1
    if(!mu) mu=0

    var run_total = 0
    for(var i=0 ; i<nsamples ; i++){
       run_total += Math.random()
    }

    return sigma*(run_total - nsamples/2)/(nsamples/2) + mu
    };

    // The maximum is exclusive and the minimum is inclusive
    function getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min)) + min;
    }

    function intersect(p1, p2, r){
        return Math.sqrt(Math.pow(p1[0] - p2[0], 2) + Math.pow(p1[1] - p2[1], 2)) < r;
    };


    function buildPosition(h, x, y, c, p, l, shape) {
    distractors.push(h);
    return [
        [adjustedSize[0], h],
        c.slice(0),
        x,
        y,
        p,
        l,
        shape
    ];
    };


    var promptOverlay = function() {
        $(".overlay").addClass("on");
    }


	var logResponse = function() {

         // Remove any existing SVG on the page
        d3.select("svg").remove();
        d3.selectAll('svg').remove();

        // Set the screen to grey to avoid afterimage effects
       d3.selectAll("circle").remove();
        d3.selectAll("rect").remove();
        d3.selectAll("image").remove();
        d3.select("div #stimuli").select("svg")
                    .append("rect")
                    .attr("width", function() {
                        return (2*proximity + 2 * GRID_PAD + 4 * LARGEST_SIZE);

                    })
                    .attr("height", function() {
                        return (2*proximity + 2 * GRID_PAD + 2 * LARGEST_SIZE);
                    })
                    .attr("x",0)
                    .attr("fill", "rgb(200,200,200)");

	    positions = [];



		clearInterval(respInt);

        console.log("trial" + trial)

        if(trial == 5){
                    alert("Press 'OK' to exit this window and begin the study.");
                    postResponseValues(resp);
        }

        trial++;

        //remove the previously trial selection from the trialbag
        trial_array.splice(initialSelection,1)

         //select a random stimuli (color, shape, or dummy)
        initialSelection = Math.floor(Math.random() * trial_array.length);


        console.log("trial "+ trial);
		$("#foo").html("You are on trial "+ (trial+1) + " of xx test trials");

		var endTime = new Date();

		 var trialResult = {
			trialStart: trialStartTime,
			trialEnd: endTime,
			trialTime: endTime-trialStartTime,
			condition: trial_array[initialSelection][0],
			image: trial_array[initialSelection][1],
			image_type: trial_array[initialSelection][2],
			targetPresent: trial_array[initialSelection][3],
            emphasis_type: trial_array[initialSelection][4],
			description: valuee,
        };
		//console.log(trialResult)
        $.post("#", trialResult).then(function(){
        	//after posting results, move to next trial
            respInt = setInterval(drawStimulus, 500);
        })

	};

	var postResponseValues = function(response) {
	    var practiceResult = {
	        response: resp
        };
        $.post("#", practiceResult).then(function(){
            // I NEED TO MOVE TO THE NEXT PAGE HERE (E.G., FOR NOW, END)

            window.location.href = "/redirect_next_page";
        })
	};



</script>



{% endblock %}