<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<script>
    // Stimulus set variables
	var colors = [[[50, 0, 40], [50, 0, 40]], [[50, 0, 10], [50, 0, 50]], [[60, 0, 40], [30, 0, 50]]];

	// Active stimulus variables
	var trial = 0;
	var color = [];
	var size = 0;
	var userId = 0;
	var start1, start2 = 0;
	var query="";
	var resp;
	var activeColor;
	var adjustedColor;
	var respInt;
    var positions = [];
    var adjustedSize = [20, 200];
    var distractors = [];// not used
    var gap;

	$(document).ready(function() {
			// Parse the query variables
			t = new Date();
			query = window.location.search;
			if (query.substring(0, 1) == '?')
				query = query.substring(1);
			userId = parseInt(query.substring(0, query.indexOf("&")));

			// Establish the display layout
			var d = query.substring(query.indexOf("-d=") + 3);
			size = 20;//visualAngleToPixels(2.0,parseFloat(d*24), document.getElementById("dpi").offsetHeight)/2;
			gap = visualAngleToPixels(6.0,30, 96)/2;
			/*if (2*size + gap > $("#stimulus").width) {
				$("#stimulus").width(2*size + gap);
			}*/
            $("#stimulus").height(400);
//			var w = $("#stimulus").width();
            var width = 4*gap + 2 * GRID_PAD + size;
			start1 = width * 0.5  - 0.5*gap;
			start2 = gap + 20 + start1;
			trial = 0;

			// Instantiate the input
			$(this).keyup(function(evt){
			  if (evt.which == 70) {
				resp = 0
				// This is in Stimuli.js. For flickering the blank screen
				adapt(false);
			  }
			  if (evt.which == 74) {
				resp = 1;
				adapt(false);
			  }
			});

            colorType = COLORTYPE.Lab;
			drawStimulus(colors[trial][0], colors[trial][1], gap);
	});

	var adaptationScreen = function() {
//		var $stim = $("#stimulus")[0];
//		var ctx = $stim.getContext("2d");
//		ctx.fillStyle = toHtml([200,200,200]);
//		ctx.fillRect(0, 0, $("#stimulus").width(), $("#stimulus").height());
//		setTimeout(drawStuff, 2000);
	};

	var drawStuff = function() {
			drawStimulus(colors[trial][0], colors[trial][1], gap);
	};

	// Draw the stimulus
	var drawStimulus = function(c1, c2, gap) {
		/*var $stim = $("#stimulus")[0];
		var ctx = $stim.getContext("2d");
		ctx.clearRect(0, 0, $("#stimulus").width(), $("#stimulus").height());
		ctx.fillStyle = toHtml(convertFrom(c1,COLORTYPE.Lab));
		var start = (Math.random() > 0.5) ? start1 : start2;
		ctx.fillRect(start, ($("#stimulus").height() - size) * 0.5, 20, size);


		start = (start == start1) ? start2 : start1;
		ctx.fillStyle = toHtml(convertFrom(c2, COLORTYPE.Lab));
		ctx.fillRect(start, ($("#stimulus").height() - size) * 0.5, 20, size);*/
        var width = 4*gap + 2 * GRID_PAD + 2*size,
        height = $("#stimulus").height();

        generatePositions(start1, start2, c1, c2, gap);

        // Remove any existing SVG on the page
        d3.select("svg").remove();

        var svg = d3.select("body").select("div #stimulus")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);

        center = 0.5*width;

        // Set up X axis
	    var xValue = function(d, i) { return d;}, // data -> value
	        xScale = d3.scale.linear().range([5, width-5]), // value -> display
	        xMap = function(d, i) { return xScale(xValue(d, i));}, // data -> display
	        xAxis = d3.svg.axis().scale(xScale).orient("bottom").ticks(20).tickFormat('');

	    // Set up Y axis
	    var yValue = function(d, i) { return d;}, // data -> value
	        yScale = d3.scale.linear().range([height-GRID_PAD, 0]), // value -> display
	        yMap = function(d, i) { return yScale(yValue(d, i));}, // data -> display
	        yAxis = d3.svg.axis().scale(yScale).orient("left").ticks(15).tickFormat('');

      // Add X-axis
      svg.append("g")
          .attr("class", "axis")
          .attr("transform", "translate(0," + (height - GRID_PAD + 1) + ")")
          .call(xAxis);

      // Add y-axis
      svg.append("g")
          .attr("class", "axis")
          .attr("transform", "translate(5, 0)")
          .call(yAxis);

        renderSingleMark(svg);
	};

    function generatePositions(x1, x2, c1, c2, proximity) {
		// Constant Shape
        var rightX = x1;
        var leftX = x2;
        var height = Math.abs(normal(.5, 1.0, 10)* $("#stimulus").height()  - 10);

       // Distractor shapes
        // Density is essentially half full
        var numDistractors = Math.pow(700*400 / (400), 1.0/3.0);
        var distractorColor = [50, 0, 0];

        // Check for overdraw and don't draw if there is any with the target points
        var points = [[leftX, $("#stimulus").height()/2- 20], [rightX, $("#stimulus").height()/2 - 20]];
        for (var i = 0; i < numDistractors; i++) {
            // Pick coords
            var x = getRandomInt(50, 350);
            var y = getRandomInt(50, 300);

            // Check for conflict
            var intersectsPoint = false;
            for (var p = 0; p < points.length; p++) {
                intersectsPoint = intersect(points[p], [x, y], 20) || intersectsPoint;
                if (intersectsPoint){
                    break;
                }
            }

            if (!intersectsPoint){
                positions.push(buildPosition(adjustedSize[0], x, y, distractorColor.slice(0), 0, 0, "circle"));
                points.push([x, y]);
            }
        }

        positions.push([
							[20, 20],	// Size
							c1.slice(0), // Color
				            rightX, // X
							$("#stimulus").height()/2 - 20, // Y
							0, // Not used
							0, // Position of the fixed (non-jittered color)
							"circle"
						]);

		// Adjusted Shape
		positions.push([
							[20, 20],
							c2.slice(0),
							leftX,
							 $("#stimulus").height()/2 - 20,
							 $("#stimulus").height()/2 - 20,
							0,
							0,
							"circle"
						]);
    }

	var logResponse = function() {
		// Fetch the current slider color
		var curColor = color.slice(0);
		clearInterval(respInt);
		if (trial == 0) {
			if (resp == 0){
				alert("Correct.");
			} else {
				alert("Incorrect. Please press the 'F' key if two colors appear to be the same, and the 'J' key if they appear to be different." );
				trial--;
			}
		} else if (trial == 1) {
			if (resp == 1){
				alert("Correct.");
			} else {
				alert("Incorrect. Please press the 'F' key if two colors appear to be the same, and the 'J' key if they appear to be different."  );
				trial--;
			}
		} else {
			if (resp == 1){
				alert("Correct. Press 'OK' to exit this window and begin the study.");
				postResponseValues();
			} else {
				alert("Incorrect. Please press the 'F' key if two colors appear to be the same, and the 'J' key if they appear to be different." );
				trial--;
			}
		}

		trial++;
		drawStimulus(colors[trial][0], colors[trial][1], gap);
	};

	var checked = function ($btn) {
		return $btn.val();
	};

	var postResponseValues = function() {
		window.location="study.php?"+query;
	};




</script>